.table-content {
    border: 1px solid rgb(63, 125, 161);
    padding: 0 50px;
    margin: 30px 0;
}
.left-margin{
    padding: 10px;
    border-left-style: solid;
    border-left-color:  rgb(63, 125, 161)
}
li {line-height: 1.6;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  .center {
    margin-left: auto;
    margin-right: auto;
    display: block
    }
.left{
    float:left;
}