---
layout: default
---
<!-- Page Header -->
<!--Added customized style sheet-->
<link rel="stylesheet" href="/assets/post-added.css">

{% if page.background %}
<header class="masthead" style="background-image: url('{{ page.background | prepend: site.baseurl | replace: '//', '/' }}')">
  {% else %}
  <header class="masthead">
    {% endif %}
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="post-heading">
            <h1>{{ page.title }}</h1>
            {% if page.subtitle %}
            <h2 class="subheading">{{ page.subtitle }}</h2>
            {% endif %}
            <span class="meta">Posted by
              <a href="#">{% if page.author %}{{ page.author }}{% else %}{{ site.author }}{% endif %}</a>
              on {{ page.date | date: '%B %d, %Y' }} &middot; {% include read_time.html
              content=page.content %}
            </span>
          </div>
        </div>
      </div>
    </div>
  </header>
  
  <!--Added FB button-->
  <div id="fb-root"></div>
  <script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v10.0" nonce="PGkuOm7e"></script>



  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">

        {{ content }}

        <br><br>

        <!--Added Related Articles-->
          {% assign maxRelated = 4 %}
          {% assign minCommonTags =  2 %}
          {% assign maxRelatedCounter = 0 %}
          
            {% for post in site.posts %}
          
              {% assign sameTagCount = 0 %}
              {% assign commonTags = '' %}
          
              {% for tag in post.tags %}
                {% if post.url != page.url %}
                  {% if page.tags contains tag %}
                    {% assign sameTagCount = sameTagCount | plus: 1 %}
                    {% capture tagmarkup %} <span class="label label-default">{{ tag }}</span> {% endcapture %}
                    {% assign commonTags = commonTags | append: tagmarkup %}
                  {% endif %}
                {% endif %}
              {% endfor %}
          
              {% if sameTagCount >= minCommonTags %}
              {%if maxRelatedCounter == 0%}
              <p><div class="left-margin" id="set-R">Related Article(s):</div></p> 
              {%assign related-id = true%}
              {% endif %}
                <hr>
                <div>
                <a href="{{ site.baseurl }}{{ post.url }}"><h4>{{ post.title }}</h4>
                  {% if post.subtitle %}
                  <p style="font-size:15px">{{ post.subtitle }}</p>
                  {% else %}
                  <p style="font-size:15px">{{ post.excerpt | strip_html | truncatewords: 15 }}</p>
                  {% endif %}
                </a>
                </div>
                {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}
                {% if maxRelatedCounter >= maxRelated %}
                <hr>
                <br><br>
                  {% break %}
                {% endif %}
              {% endif %}
              {% if forloop.last == true and maxRelatedCounter!=0 %}
              <hr>
              <br><br>
              {% break %}
              {% endif %}
            {% endfor %}




        <!--Added Tags display + share buttons-->
        <table>
          <tr><td>
          Tags:
          {% for tags in page.tags %}
            <a href="{{"/tag" | relative_url }}#{{ tags }}">{{ tags }}</a>
            {%if forloop.index < page.tags.size %}
            ,
            {%endif%}
          {% endfor %}
          </td style="float: right; vertical-align: bottom;">
          <!--<td style="position: absolute; right: 25px;">-->
          <td style="position: absolute; right: 25px; ">
            <div style="display: inline-block; position: relative; top: 6px;"><a href="https://twitter.com/share?ref_src=twsrc%5Etfw" class="twitter-share-button" data-show-count="false">Tweet</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script></div>
            <div style="display: inline-block; position: relative; top: -2px;" class="fb-share-button" data-href="https://kanon-blog.page{{page.url}}" data-layout="button" data-size="small"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://kanon-blog.page{{page.url}}" class="fb-xfbml-parse-ignore">Share</a></div>
            <!--
            <a href="https://www.facebook.com/sharer/sharer.php?u=https://kanon-blog.page{{page.url}}" target="_blank">
              Share in Facebook
            </a>
            -->
          </td>
        </tr>
        </table>
      

        <hr>

        <div class="clearfix">

          {% if page.previous.url %}
          <a class="btn btn-primary float-left" href="{{ page.previous.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.previous.title }}">&larr; Previous<span class="d-none d-md-inline">
              Post</span></a>
          {% endif %}
          {% if page.next.url %}
          <a class="btn btn-primary float-right" href="{{ page.next.url | prepend: site.baseurl | replace: '//', '/' }}" data-toggle="tooltip" data-placement="top" title="{{ page.next.title }}">Next<span class="d-none d-md-inline">
              Post</span> &rarr;</a>
          {% endif %}
        </div>

      </div>
    </div>
  </div>
